body{
  background-color: #E4F9F5;
}
p {
  text-align: left;
}

h3 {
  color: Teal;
}
h1 {
  color: Teal;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:10%;
}
.profile-pics {
  width: 50%;
  border-radius: 100%;
}
